# Maven build files
target
*.log
maven-eclipse.xml
build.properties
site-content
*~

# IntelliJ IDEA files
.idea
.iws
*.iml
*.ipr

# Eclipse files
.settings
.classpath
.project
.externalToolBuilders
.checkstyle

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
